# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Outros exemplos comuns
*.log
.DS_Store

# VSCode
.vscode

# Databases and migrations
*.db

# Datasets
*.gml
*.graphml
*.pt

# env
.env